.logo {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(255, 253, 253);
  height: 60px;
  border-radius: 20px;
  position: static;
  margin: 10px 10px 10px 10px;
}

img {
  padding: 0px 0px 0px 0px;
  border-radius: 20px;
  border: 20px black;
}
