body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000000;
}

.ulNav {
  display: flexbox;
  background-color: rgb(189, 189, 189, 0.1); 
  border-radius: 10px;
  width: 100px;
  height: 220px;
  margin: 30px 5px;
  position: relative;
  top: 100px;
  left: 15px;
  
}

li {
  padding: 15px 10px 0px 0px;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255,0.7);
  text-align: center;
}

li:hover {
	color: rgb(0, 0, 0);
	text-decoration: underline;
	cursor: pointer;
}