.navBar {
  padding: 0px 0px 0px 0px;

}

ul {
  display: flex;
  justify-content: center;
  margin: 0px 0px;
  padding: 0px 0px 0px 0px;

}

li {
  padding: 10px 25px;
  list-style: none;
  background-color: #f9ecd4;
  font: oblique bold 100% cursive;
}

a {
  text-decoration: none;
  color: rgb(1, 1, 1);
}

li:hover {
	color: rgb(8, 8, 187);
	text-decoration: underline;
	cursor: pointer;
}