
.ulNav {
  display: flex;
  flex-direction: column;
  background-color: rgba(189, 189, 189, 0.05); 
  border-radius: 10px;
  width: 200px;
  height: min-content;
  margin: 50px 35px;
  position: absolute;
  padding: 0px 0px 0px 0px;


}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 20px 20px;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255,0.7);
  text-align: center;
  border-radius: 3px;
  background-color: rgba(189, 189, 189, 0.032);
}

li:hover {
	color: rgb(255, 255, 255);
	text-decoration: underline;
	cursor: pointer;
}

.navBar {
  position: relative;
  top: 0px;
  left: 0px;
  
}


li#themesLi > ul{
  display: none;
}

li#themesLi:hover > ul{
  display: block; /* Puede ser cualquier display */
}

#themesLi {
  color: aliceblue;
}