/*body {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    color: rgb(255, 255, 255);
    margin: 0px 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}*/

li {
  padding: 0% 0% 0% 0%;
}

.message {
  color: aliceblue;
  background-color: rgba(79, 79, 79, 0.13);
  padding: 30px 30px 30px 30px;
  position: relative;
  top: 45vh;
  left: 10vw;
  margin: 0px 0px;
  border-radius: 15px;
}
.contact {
  color: aliceblue;
  background-color: aqua;
}
.errorPage {
  color: aliceblue;
  background-color: rgba(79, 79, 79, 0.13);
  padding: 30px 30px 30px 30px;
  position: relative;
  top: 45vh;
  left: 10vw;
  margin: 0px 0px;
  border-radius: 15px;
}
