
body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    background-color: #131313;
}

.container-image {
    min-width: 300px;
    min-height: 60%;
    border-radius: 10px;
    object-fit: contain;

}

.container {
    display: flexbox;
    background-color: rgb(189, 189, 189, 0.1);
    border-radius: 10px;
    width: 80%;
    margin: 0px 0px;
    position: relative;
    top: 0px;
    left: 210px;
    color: rgb(255, 255, 255);
}

.usuario {
    padding: 5px 0px 0px 10px;
}

h2 {
    padding: 5px 0px 0px 10px;
    border: none;
    
}

.tituloApp {
    padding: 0% 0% 0% 0%;
    width: 100%;
    color:rgb(242, 244, 245);
    position: absolute;
    top: 20px;
    left: 50%;
}

.date {
    margin: 0px 0px;
    padding: 5px 0px 0px 10px;
}

.image {
	width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(82, 82, 82);
   /*object-fit: cover;*/ 
    object-fit: contain;
}

.description {
    padding: 5px 0px 10px 10px;
    margin: none;
}

.text {
    padding: 5px 0px 0px 10px;
    margin: none;
}

.liNews {
    padding: 20px 0px 0px 0px;;
}